.iine {
  font-size: 4.0em;
  white-space: nowrap;
  animation: move 3s 1 linear;
}

@keyframes move {
  0% {
    left: 100%;
  }

  99% {
    left: 1%;
  }

  100% {
    left: 0;
    display: none;
  }
};